# python virtual environment
env/
venv/

# vscode folder
.vscode

# jupyter checkpoints
.ipynb_checkpoints

# Zone Identifiers
*.Identifier

# pychache folder
__pycache__/

# virtual documents
.virtual_documents/
=4.2.0
.python-version

# datasets
data/cleaned_safaricom_data_v2.csv
data/combined_safaricom_data_v2.csv
labeled_data_v3.csv
labeled_data_v4.csv
labeled_data_v5.csv

# pre-trained models (too large for commit)
FastAPI/models/bert-model/
models/xlm_roberta_model/
Streamlit/models/
Streamlit/models.zip

# frontend
Frontend/node_modules

# local environment files
FastAPI/.env
FastAPI/.env.example
*.env
*.env.production

# markdowns
FastAPI/RENDER_DEPLOYMENT_GUIDE.md
DEPLOYMENT_GUIDE.md

# Terraform
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.backup
infra/terraform.tfvars
# infra/.terraform.lock.hcl

# UV files
uv.lock

# AWS EC2 instance files
safarimeter-key.pem