fastapi
uvicorn[standard]
pydantic
scikit-learn
pandas
numpy
joblib
nltk
transformers
torch==2.1.1+cpu -f https://download.pytorch.org/whl/torch_stable.html
requests
python-multipart
jax
# rasa
plotly
seaborn
matplotlib
